/* ANIMATIONS */
<<<<<<< HEAD
/* #379FA9, #FD8A83, #50C1EC, #FEE242, '#1CB59F', #EB3E49, #398CB0, #F8D059*/
=======
/*
'#379FA9', '#FD8A83', '#50C1EC', '#FEE242', '#1CB59F', '#EB3E49', '#398CB0', '#F8D059'
*/
>>>>>>> master
@keyframes changeColor {
    0% {
        color: black;
    }
    49% {
        color: black;
    }
    50% {
        color: #E84C3D;
    }
    100% {
        color: #E84C3D;
    }
}
@keyframes grow {
    0% {
        height: 0;
        width: 0;
    }
    100% {
        height: 100vh;
        width: 100vw;
    }
}

/* GENERAL */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
}
/* body::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    content: '';
    opacity: 1;
    transition: opacity 0.4s ease;
} */
.opac::before {
    opacity: 0;
}
main {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cutive Mono', sans-serif;
}
p {
    line-height: 1.6;
}
[hidden], .hidden {
    display: none !important;
}
.move {
    position: absolute;
}
.nav_basic {
    margin: 0;
    padding-left: 0;
}
.italic {
    font-style: italic;
}
.z1 {
    z-index: 1;
}
.z2 {
    z-index: 2;
}
.z3 {
    z-index: 3;
}
.z4 {
    z-index: 4;
}
.desktop-folder__title.drag {
    cursor: move;
}
.body-overflow-h {
    overflow: hidden;
}
.body-wrap {
    width: 100vw;
    height: 100vh;
    background-color: #F2ACA7;
}
.censored {
    color: black;
    font-family: sans-serif;
    font-size: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    animation: changeColor 0.5s linear infinite;
    transform: rotate(45deg) translateY(4rem) translateX(-3rem);
}
.nav_basic li {
    list-style: none;
}

/* TOP NAVIGATION */
.top-nav {
    margin: 0 2rem 2rem 2rem;
    margin-left: auto;
    padding-top: 3rem;
    width: fit-content;
    z-index: 0;
}
.top-nav__item {
    display: inline-block;
    padding-bottom: 1rem;
    width: 8rem;
    cursor: pointer;
}
.top-nav ul {
    display: flex;
    padding-left: 0;
    width: 36rem;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}
.top-nav__item > div {
    position: relative;
}
.top-nav__item img {
    width: 5rem;
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: -6px 6px 0 rgba(0, 0, 0, 0.2);
}
.top-nav__item a {
    padding: 0.2rem;
}
.top-nav__item a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.top-nav__item_selected a, .top-nav__item_selected a:visited {
    color: white;
    background-color: #4C8DE9;
    border-radius: 3px;
}
.top-nav__item .top-nav__title {
    box-sizing: border-box;
    margin: 0;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}

/* DESKTOP FOLDERS */
.folder-wrap {
    transform: translate(0);
    position: fixed;
    top: 0;
    left: 0;
}
.desktop-folder_hidden {
    display: none;
}
.desktop-folder_open {
    box-sizing: border-box;
    position: absolute;
    left: 6rem;
    top: 6rem;
    height: 40rem;
    width: 60rem;
    background-color: white;
    border: 3px solid #1d1e1c;
    box-shadow: -1.5rem 1.5rem 0 rgba(29, 30, 28, 0.26);
    overflow-y: scroll;
    z-index: 2;
}
.desktop-folder_big {
    height: calc(100vh - 8rem);
    width: calc(100vw - 8rem);
    left: 4rem;
    top: 4rem;
}
.desktop-folder_narrow {
    height: 49rem;
    width: 37rem;
    overflow: hidden;
    transform: translate(0);
}
.desktop-folder_small {
    height: 31rem;
    width: 31rem;
}
.link_style_desktop {
    color: black;
    text-decoration: none;
}
.link_style_desktop:visited {
    color: black;
}
.desktop-folder__title {
    font-family: 'Cutive Mono', sans-serif;
}
.porn-img {
    height: 100%;
}
.desktop-folder_open .desktop-folder__title,
.device-app_open .desktop-folder__title {
    box-sizing: border-box;
    margin: 0;
    position: fixed;
    padding: 0.2rem 4rem;
    width: 59.6rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #DADAD3;
    border-bottom: 3px solid #1d1e1c;
    z-index: 1;
}
.desktop-folder_big .desktop-folder__title {
    width: calc(100vw - 8.4rem);
}
.desktop-folder_narrow .desktop-folder__title {
    width: 36.6rem;
}
.desktop-folder_small .desktop-folder__title {
    width: 30.6rem;
}
#about .folder-content {
    padding: 4rem 2.5rem 2.5rem 2.5rem;
    width: auto;
}
#about .project-list {
    padding: 0;
}
.logo-wrap {
    position: relative;
    width: 13rem;
    height: 9rem;
}
.black-background {
    background-color: black;
}
#experimenta {
    transform: translateX(-50%) scale(1.6);
}
.logo-wrap .landscape-img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
    margin-left: 0;
    transform: translateY(-50%);
}

/* TOUCH DEVICE*/
.touch {
    overflow: visible;
}
.device-app_open {
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    bottom: 0;
    background-color: white;
    border: 3px solid #1d1e1c;
    overflow: visible;
}
.touch .mac-bar {
    z-index: 0;
}
.touch .buttons-wrap {
    position: absolute;
    margin-top: -1.5rem;
}
.touch .folder-wrap {
    position: absolute;
    transform: none;
    z-index: 4;
}
.touch .project-list__item {
    flex: 1;
}
.touch #projects > .desktop-folder__title {
    display: none;
}
.touch .detail {
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    bottom: auto;
    overflow: visible;
}
.touch .project__desc {
    position: static;
    height: auto;
    max-width: 35rem;
    margin: auto;
    border: none;
    overflow: visible;
}
.device-app_open .desktop-folder__title {
    position: static;
    width: initial;
    border-bottom: 3px solid #1d1e1c;
}
.touch .detail .project__img {
    margin-bottom: 0;
    margin-top: 0;
}
.touch .detail .project__close {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
}
.touch .detail .detail__title, .touch .detail .buttons-wrap {
    display: none;
}
.touch #projects.device-app_open {
    max-height: 100vh;
    background-color: inherit;
    border: none;
}

/* BOTTOM NAVIGATION */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 50%;
    padding: 0.5rem;
    background-color: rgba(158, 158, 158, 0.8);
    border-radius: 8px 8px 0 0;
    transform: translateX(-50%);
    z-index: 3;
}
.bottom-nav__list {
    box-sizing: border-box;
    padding-left: 0;
    bottom: 2.4rem;
    left: 0;
}
.bottom-nav__item {
    display: inline-block;
    position: relative;
    padding: 0.2rem;
    width: 3.5rem;
}
.bottom-nav__tooltip {
    display: none;
    position: absolute;
    width: max-content;
    bottom: 4rem;
    left: 50%;
    padding: 0.3rem;
    font-size: 1rem;
    text-align: center;
    background-color: #FEE242;
    border-radius: 3px;
    transform: translateX(-50%);
}
.tooltip__arrow {
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    top: 100%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -14px;
    background-color: #FEE242;
    transform: rotate(-45deg);
    z-index: -1;
}
.bottom-nav__item img {
    width: 100%;
    box-shadow: -4px 4px 0 rgba(130, 130, 130, 0.4);
}
.bottom-nav__item .bottom-nav__name {
    clip: rect(0, 0, 0, 0);
    font-size: 0;
}
.bottom-nav__item a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.bottom-nav__item:hover .bottom-nav__tooltip {
    display: block;
}

/* MAC BAR */
.mac-bar {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: #DADAD3;
    border-bottom: 2px solid black;
    z-index: 2;
}
.mac-bar_center {
    text-align: center;
    width: 100%;
}
.mac-bar__item {
    display: inline-block;
    height: 1.3rem;
    overflow: hidden;
    font-size: 1rem;
    font-weight: normal;
}
.mac-bar__item_strong {
    font-weight: bold;
}
.mac-bar__title {
    margin: 0.2rem;
    font-size: 1rem;
}
#wifi {
    margin-right: -0.1rem;
    height: 1.2rem;
}
#battery {
    margin-top: -0.1rem;
    height: 1.4rem;
}
.mac-bar ul {
    padding: 0.3rem 3rem 0 3rem;
}
.mac-bar__item img {
    height: 1rem;
}
.mac-bar_left .mac-bar__item {
    margin-right: 1rem;
}
.mac-bar_right .mac-bar__item {
    margin-left: 1rem;
}
.mac-bar_right .mac-bar__img {
    margin: 0;
}

/* SETTINGS */
.color-list {
    display: flex;
    justify-content: space-between;
}
.color-list__color {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0;
    border: 2px solid black;
}
.setting__title {
    text-align: center;
}
.setting {
    padding-left: 2rem;
    padding-right: 2rem;
}
.setting:first-of-type {
    padding-top: 2rem;
}
.a-slider {
    height: 0.5rem;
    width: 8rem;
    padding: 0.1rem;
    border: 2px solid black;
    border-radius: 4rem;
}
.a-slider__circle {
    box-sizing: border-box;
    height: 0.5rem;
    width: 4rem;
    margin-left: 0;
    background-color: #C1C1BF;
    border: 2px solid black;
    border-radius: 0.5rem;
    transition: margin-left 0.3s ease;
}
.switch-on .a-slider__circle {
    margin-left: 4rem;
}
.range {
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    border: 2px solid black;
    border-radius: 4rem;
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: border-box;
    height: 0.5rem;
    width: 4rem;
    margin-top: 0;
    background-color: #C1C1BF;
    border: 2px solid black;
    border-radius: 0.5rem;
}
.range::-moz-slider-thumb {
    -webkit-appearance: none;
    box-sizing: border-box;
    height: 0.5rem;
    width: 4rem;
    margin-top: 0;
    background-color: #C1C1BF;
    border: 2px solid black;
    border-radius: 0.5rem;
}
.range::-ms-slider-thumb {
    -webkit-appearance: none;
    box-sizing: border-box;
    height: 0.5rem;
    width: 4rem;
    margin-top: 0;
    background-color: #C1C1BF;
    border: 2px solid black;
    border-radius: 0.5rem;
}
.range::-webkit-slider-runnable-track {
    height: 0.75rem;
    width: 100%;
    padding: 0.15rem;
    background-color: transparent;
    border-radius: 4rem;
    cursor: pointer;
}
.range::-moz-range-track {
    height: 0.75rem;
    width: 100%;
    padding: 0.15rem;
    background-color: transparent;
    border-radius: 4rem;
    cursor: pointer;
}
.range::-ms-track {
    height: 0.75rem;
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 4rem;
    cursor: pointer;
}
#pink, .pink {
    background-color: #EC9696;
}
#green, .green {
    background-color: #54B9AD;
}
#yellow, .yellow {
    background-color: #F8D059;
}
#blue, .blue {
    background-color: #50C1EC;
}
#black, .black {
    background-color: black;
}

/* PROJECT LIST */
.project-list {
    display: flex;
    padding: 2.5rem;
    flex-wrap: wrap;
}
.project-list__item {
    width: 12.9rem;
    margin-bottom: 2rem;
    text-align: center;
}
.project-list__item:nth-of-type(4n + 1), .project-list__item:nth-of-type(4n + 2),
.project-list__item:nth-of-type(4n + 3) {
    margin-right: 1rem;
}
.project-list__preview {
    box-sizing: border-box;
    margin-left: 50%;
    height: 9rem;
    transform: translateX(-50%);
}
.folderlink, .folderlink:visited {
    text-decoration: none;
    color: black;
}
.folderlink:hover {
    background-color: #FEE242;
}
.folder-content.js {
    display: inline-block;
    position: relative;
    /*width: calc(100% - 20rem);*/
    width: 100%;
}
.folder-content__sub-title {
    color: #ff6868;
}
.project-list__item .folderlink {
    position: relative;
}
.project-list__item .folderlink::after {
    content: '';
    position: absolute;
    top: -9rem;
    left: 0;
    right: 0;
    bottom: 0;
}
.project-list__item .project-list__name {
    text-align: center;
    font-size: 1.2rem;
}
.folder-content .folder-content__title {
    margin: 0;
}

/* DETAILS */
.detail {
    position: fixed;
    background-color: white;
    bottom: 4rem;
    left: 4rem;
    right: 4rem;
    top: 4rem;
    width: calc(100vw - 8rem);
    height: calc(100vh - 8rem);
    border: 3px solid #1d1e1c;
    overflow-y: scroll;
    z-index: 2;
}
.detail_hidden {
    display: none;
}
.project__desc {
    position: fixed;
    left: 8rem;
    top: 53vh;
    height: 25rem;
    width: 30rem;
    background-color: white;
    border: 3px solid #1d1e1c;
    overflow-y: scroll;
    z-index: 1;i
}
.project__img {
    max-height: calc(100vh - 8rem);
    max-width: 100%;
    margin-left: 50%;
    margin-top: 7rem;
    margin-bottom: 7rem;
    transform: translateX(-50%);
}
.project__desc p {
    padding: 1rem;
}
.project__desc p:first-of-type {
    margin-top: 3rem;
}
.detail .project__close {
    position: fixed;
    top: 4.5rem;
    left: 4.5rem;
    z-index: 2;
}
.project__desc .detail__title {
    width: 30rem;
}
.desktop-folder_open .detail__title-big {
    width: calc(100vw - 8.4rem);
}
#trash .project-list {
    margin-top: 1.5rem;
}

/* WINDOW BUTTONS */
.buttons-wrap {
    box-sizing: border-box;
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    width: 4rem;
    position: fixed;
    z-index: 2;
}
.buttons-wrap__window-btn {
    position: relative;
    padding: 0;
    width: 1rem;
    background-color: rgba(0,0,0,0);
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.minimize, .fullscreen {
    opacity: 0.3;
}
.buttons-wrap__window-btn::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    content: '';
}

/* LOADING SCREEN */
@keyframes load {
    0% {
        width: 3%;
    } 20% {
        width: 10%;
    } 80% {
        width: 90%;
    } 100% {
        border-radius: 6px;
        width: 100%;
    }
}
.loading-screen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #FBD952;
    z-index: 4;
}
.wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 14rem;
    width: 21rem;
    transform: translate(-50%, -50%);
}
.loading-screen .loading-icon {
    display: block;
    margin: auto;
    margin-bottom: 3rem;
    width: 8rem;
}
.loading-screen__bar {
    box-sizing: border-box;
    height: 0.8rem;
    width: 100%;
    border: 2px solid black;
    border-radius: 6px;
}
.loading-screen__progress {
    height: 100%;
    background-color: #4C8DE9;
    border-radius: 6px 0 0 6px;
    animation: load 3s ease;
}
/* SOCIAL MEDIA */
.social-media {
    margin-top: 1.9rem;
    height: 100%;
    width: 100%;
}
/* PRINT */
.print {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    border: none;
    z-index: 4;
}
.print__img {
    width: 100%;
}

/* SLIDER */
.sldr-info {
    position: absolute;
    margin: 0;
    left: 2rem;
    top: 2rem;
    font-size: 1.3rem;
    background-color: #ff6868;
}
.sldr-info__title {
    margin: 0;
}
.sldr-info__title a, .sldr-info__title a:visited {
    display: inline-block;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

/* SNAKE */
.snake-food-block {
    box-sizing: border-box;
    position: absolute;
    background-color: #ff6868;
    border: 2px solid #1d1e1c;
}
.snake-snakebody-block {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #1e8200;
    position: absolute;
    border: 2px solid #1d1e1c;
}
.snake-pause-screen {
    display: none;
    position: absolute;
    padding: 0.5rem
    margin: 0;
    top: 50%;
    left: 50%;
    width: 18rem;
    color: white;
    text-align: center;
    background-color: black;
    transform: translate(-50%, -50%);
}
.snake-try-again-dialog {
    padding: 0.5rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18rem;
    color: #ffffff;
    background-color: #000000;
    transform: translate(-50%, -50%);
}
.snake-playing-field {
    left: 20px;
    top: 20px;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #fee342;
}
.snake-welcome-dialog {
    display: block;
    padding: 0.5rem;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18rem;
    text-align: center;
    transform: translate(-50%, -50%);
}

#mode-wrapper{
    margin-top: 1.2rem;
    padding: 1.4rem;
}
#high-score {
    position: absolute;
    top: 2.6rem;
    right: 1.4rem;
    padding: 0.4rem;
    font-size: 1.2rem;
    color: white;
    background-color: #ff6868;
}
#game-area {
    position: relative;
    left: 0;
    top: 0;
}
.difficulty {
    -webkit-appearance: none;
    appearance: none;
    padding: 0.3rem;
    font-family: inherit;
    font-size: 1rem;
    background-color: lightgrey;
    border: none;
    cursor: pointer;
}
.difficulty:hover {
    background-color: #e6e6e6;
}
.difficulty.button-selected {
    background-color: #4C8DE9;
    color: white;
}
.screensaver {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #FEF8E8;
    background-image: url('../img/200w_d.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18rem auto;
    z-index: 4;
}
/* @media screen and (max-width: 34rem){

} */

@media screen and (max-width: 90rem){
    .bottom-nav__item {
        width: 2.5rem;
    }
    .top-nav__item img {
        width: 3.5rem;
    }
}

@media screen and (max-width: 54rem){
    .project-list__item .project-list__name {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 43rem){
    .project-list__item .project-list__name {
        font-size: 1rem;
    }
}
