/* GENERAL */
body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    background-color: lightseagreen;
}
main {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cutive Mono', sans-serif;
}
p {
    line-height: 1.6;
}
[hidden], .hidden {
    display: none !important;
}
.move {
    position: absolute;
}
.nav_basic {
    margin: 0;
    padding-left: 0;
}
.z1 {
    z-index: 1;
}
.z2 {
    z-index: 2;
}
.z3 {
    z-index: 3;
}
.z4 {
    z-index: 4;
}
.desktop-folder__title.drag {
    cursor: move;
}
.nav_basic li {
    list-style: none;
}

/* TOP NAVIGATION */
.top-nav {
    margin: 2rem;
    margin-left: auto;
    width: fit-content;
}
.top-nav__item {
    display: inline-block;
    width: 8rem;
    cursor: pointer;
}
.top-nav ul {
    display: flex;
    padding-left: 0;
    width: 36rem;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}
.top-nav__item > div {
    position: relative;
}
.top-nav__item img {
    width: 5rem;
    margin-left: 50%;
    transform: translateX(-50%);
}
.top-nav__item h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}
.top-nav__item a {
    padding: 0.2rem;
}
.top-nav__item a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.top-nav__item_selected img {
    border-radius: 3px;
    box-shadow: 0px 0px 2px 2px rgba(200,200,200,0.4);
}
.top-nav__item_selected a, .top-nav__item_selected a:visited {
    color: white;
    background-color: blue;
    border-radius: 3px;
}

/* DESKTOP FOLDERS */
.desktop-folder_hidden {
    display: none;
}
.desktop-folder_open {
    box-sizing: border-box;
    position: absolute;
    height: 40rem;
    width: 60rem;
    background-color: white;
    border: 3px solid #1d1e1c;
    box-shadow: -1.5rem 1.5rem 0 rgba(29, 30, 28, 0.26);
    left: 6rem;
    overflow-y: scroll;
    top: 6rem;
}
.desktop-folder_big {
    height: calc(100vh - 8rem);
    width: calc(100vw - 8rem);
    left: 4rem;
    top: 4rem;
}
.link_style_desktop {
    color: black;
    text-decoration: none;
}
.link_style_desktop:visited {
    color: black;
}
.desktop-folder__title {
    font-family: 'Cutive Mono', sans-serif;
}
.desktop-folder_open .desktop-folder__title {
    box-sizing: border-box;
    margin: 0;
    position: fixed;
    padding: 0.2rem 2rem;
    width: 59.6rem;
    font-size: 2rem;
    text-align: center;
    background-color: #b0b0b0;
    border-bottom: 3px solid #1d1e1c;
    z-index: 1;
}
.desktop-folder_big .desktop-folder__title {
    width: calc(100vw - 8s.4rem);
}

/* BOTTOM NAVIGATION */
.bottom-nav {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px 8px 0 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.bottom-nav__list {
    box-sizing: border-box;
    padding-left: 0;
    bottom: 2.4rem;
    left: 0;
}
.bottom-nav__item {
    display: inline-block;
    position: relative;
    padding: 0.2rem;
    width: 3rem;
}
.bottom-nav__tooltip {
    display: none;
    position: absolute;
    width: max-content;
    bottom: 4rem;
    left: 50%;
    padding: 0.3rem;
    font-size: 1rem;
    text-align: center;
    background-color: #c9c9c9;
    border: 2px solid black;
    border-radius: 3px;
    transform: translateX(-50%);
}
.bottom-nav__item img {
    width: 100%;
}
.bottom-nav__item h2 {
    clip: rect(0, 0, 0, 0);
    font-size: 0;
}
.bottom-nav__item a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.bottom-nav__item:hover .bottom-nav__tooltip {
    display: block;
}

/* MAC BAR */
.mac-bar {
    background-color: rgb(230, 230, 230);
}
.mac-bar__item {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: normal;
}
.mac-bar__item_strong {
    font-weight: bold;
}
.mac-bar ul {
    padding: 0.1rem 3rem;
}
.mac-bar__item img {
    width: 1rem;
}

/* FOLDER NAVIGATION */
.folder-nav {
    box-sizing: border-box;
    display: inline-block;
    height: 39.6rem;
    padding-top: 3rem;
    position: fixed;
    width: 18rem;
    background-color: #e9e9e9;
    border-radius: 5px 0 0 5px;
    border-right: 3px solid #1d1e1c;
    overflow-y: scroll;
}
.folder-nav__open {
    background-color: #c9c9c9;
}
.folder-nav__item {
    padding: 0.3rem 1rem;
}
.folder-content.js {
    display: inline-block;
    padding-top: 3rem;
    position: relative;
    margin-right: 1rem;
    width: calc(100% - 20rem);
    float: right;
}
.folder-nav h2 {
    margin: 0;
    padding: 0 1rem;
    color: #a7a7a7;
    font-size: 0.8rem;
}
.folder-nav__item h3 {
    margin: 0;
}
.folder-nav__item a, .folder-nav__item a:visited {
    color: black;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
}
.folder-content h2 {
    margin: 0;
}

/* PROJECT LIST */
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project-list__item {
    width: 30%;
}
.project-list__preview {
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
}
.project-list__item .folderlink {
    position: relative;
}
.project-list__item .folderlink::after {
    content: '';
    position: absolute;
    top: -9rem;
    left: 0;
    right: 0;
    bottom: 0;
}
.project-list__item > h2 {
    text-align: center;
}

/* DETAILS */
.detail {
    position: fixed;
    background-color: white;
    bottom: 4rem;
    left: 4rem;
    right: 4rem;
    top: 4rem;
    border: 3px solid #1d1e1c;
    overflow-y: scroll;
    z-index: 2;
}
.detail_hidden {
    display: none;
}
.project__desc {
    position: fixed;
    left: 8rem;
    bottom: 2rem;
    height: 25rem;
    width: 30rem;
    background-color: white;
    border: 3px solid #1d1e1c;
    overflow-y: scroll;
}
.project__img {
    max-height: calc(100vh - 8rem);
    max-width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.project__desc p {
    padding: 1rem;
}
.project__desc p:first-of-type {
    margin-top: 3rem;
}
.detail .project__close {
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 2;
}
.project__desc .detail__title {
    width: 30rem;
}
.desktop-folder_open .detail__title-big {
    width: calc(100vw - 8.4rem);
}

/* WINDOW BUTTONS */
.buttons-wrap {
    box-sizing: border-box;
    margin-top: 0.7rem;
    margin-left: 0.7rem;
    width: 4rem;
    position: fixed;
    z-index: 2;
}
.buttons-wrap__window-btn {
    position: relative;
    padding: 0;
    width: 1rem;
    background-color: rgba(0,0,0,0);
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.buttons-wrap__window-btn::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    content: '';
}

/* LOADING SCREEN */
@keyframes load {
    0% {
        width: 3%;
    } 20% {
        width: 10%;
    } 80% {
        width: 90%;
    } 100% {
        border-radius: 6px;
        width: 100%;
    }
}
.loading-screen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #FBD952;
}
.wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 14rem;
    width: 21rem;
    transform: translate(-50%, -50%);
}
.loading-screen .loading-icon {
    display: block;
    margin: auto;
    margin-bottom: 3rem;
    width: 8rem;
}
.loading-screen__bar {
    box-sizing: border-box;
    height: 0.8rem;
    width: 100%;
    border: 2px solid black;
    border-radius: 6px;
}
.loading-screen__progress {
    height: 100%;
    background-color: #4C8DE9;
    border-radius: 6px 0 0 6px;
    animation: load 3s ease;
}
